doctype html
html(lang="en")
  head
    title= CircuitSim
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Electronic circuit simulator')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css')
    style
      include styles.css

  body
    #circuitsim
      
    script(src='./demo.js')
